#navbar {
    padding: 40px;
}

#title {
    font-size: 49px;
}

#navlist {
    list-style: none;
    display: inline;
}
li {
    padding: 10px;
    float:left
}
#sun {
    width:200px;
    padding-right: 100px;
}

#mainstuffs {
    padding-bottom: 300px;
}