    <div class="row" ng-controller="WeatherController2">
        <div class="form-group" class="col-md-4">
            <label for="latitude">Latitude:</label>
            <input type="text" class="form-control"  ng-model="latitude"> <br>
            <label for="longitude">Longitude:</label>
            <input type="text" class="form-control"  ng-model="longitude"> <br> 
            <button type="button" class="btn btn-info" ng-click = "getWeather()">Stiny! Get me the weather!</button>
            <hr>
            <br>
            <label for="summary">Currently: {{ weatherData.currently.summary }} </label>
            <p></p> <br>
            <label for="temp">Temp: {{ weatherData.currently.temperature }} </label>
            <br> <br>
            <p>Coords given: {{ weatherData.latitude }} , {{ weatherData.longitude }} </p>
            
            <p></p><br>
        </div>
    </div>